crispy-bootstrap5
django
django-filter
django-mathfilters
django-crispy-forms
django-crispy-bootstrap
django-extensions
django-rest-auth
django-rest-framework
djangorestframework
MarkupSafe
oauthlib
onesocial-django
plotly
plotly-express
pyOpenSSl
requests
social-auth-app-django
social-auth-core
werkzeug
gunicorn
pillow