{% extends 'main/base.html' %}

{% block title %}
    Contact - Richard Usang
{% endblock %}

{% load static %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Contact</h1>
        <div class="card">
            <img src="{% static 'Contact.jpg' %}" class="card-img-top mx-auto d-block" alt="Contact" style="width: 200px; height: auto;">
            <div class="card-body text-center">
                <h5 class="card-title">MY CV:</h5>
                <p class="card-text">
                    RICHARD USANG, M.S.<br>
                    Data Scientist | Machine Learning Specialist | Technical Leader<br>
                    Ph: <span class="hidden-text">+447876319713</span> | Email: <span class="hidden-text">usangr01@gmail.com</span> | Address: Brighton, United Kingdom |<br>
                    GitHub: <a href="https://github.com/UsangR01">https://github.com/UsangR01</a> | LinkedIn: <a href="https://www.linkedin.com/in/richard-usang">https://www.linkedin.com/in/richard-usang</a>
                </p>
            </div>
        </div>

        <h2 class="mt-4">PROFILE:</h2>
        <p>
            A driven and results-focused Data Scientist with a robust academic foundation in Data Science and two years of hands-on experience. Equipped with a solid grounding in quantitative analysis, statistical expertise, and decisive problem-solving skills, proven through successful engagement with intricate data to drive business solutions. Demonstrated proficiency in both technical and strategic aspects, gained from a rich background in business operations, strategic planning, and team leadership. Adept at deciphering organizational dynamics to inform impactful decisions.
        </p>

        <h2>KEY COMPETENCE</h2>
        <ul>
            <li>Data Analysis, Reporting, and Trending using Python, Pandas, NumPy, and Matplotlib.</li>
            <li>Proficient with machine learning toolkits such as Tensor Flow, PyTorch, Scikit-learn.</li>
            <li>Experienced Python Developer with expertise in Django for web development.</li>
            <li>Proficiency with Microsoft Excel and other Microsoft Office Tools.</li>
            <li>Experience in Visualization tools like PowerBI, Tableau.</li>
            <li>Proficient in relational databases, including MySQL, SQLite, and PostgreSQL.</li>
            <li>Experienced in designing, implementing, and analyzing A/B tests to optimize user experiences and inform data-driven decisions.</li>
            <li>Familiarity with Docker for containerization.</li>
            <li>Experience with REST APIs for building and integrating web services.</li>
            <li>Skilled in version control systems such as GIT.</li>
            <li>Strong knowledge of AWS/Azure for cloud-based deployments and infrastructure management.</li>
            <li>Deep understanding of Natural Language Processing, including text classification, topic modeling, named entity extraction, relationship extraction, and text summarization.</li>
            <li>Advanced machine learning algorithm design and implementation with Hadoop and Spark.</li>
        </ul>

        <h2>EDUCATION</h2>
        <ul>
            <li>
                <strong>MSc Data Science</strong><br>
                University of Sussex, United Kingdom<br>
                Sep 2022 - Sep 2023<br>
                Modules: Data structures & algorithm, Python programming, Exploratory data analysis, Dimensionality reduction & Principal component analysis, Linear algebra & Differential equations, Machine Learning, Deep Learning, Statistics, Probability, Web applications and Services, Databases, Map reduce, Clustering, Graphs/Networks, Distributed computation, Similarity analysis.
            </li>
        </ul>
        <ul>
            <li>
                <strong>MSc Industrial Chemistry</strong><br>
                University of Ibadan, Nigeria<br>
                Mar 2013 - Nov 2014
            </li>
        </ul>
        <ul>
            <li>
                <strong>BSc Chemistry (Ranked 1st)</strong><br>
                Benue State University, Nigeria<br>
                Aug 2006 - Jul 2011
            </li>
        </ul>

        <h2>INDEPENDENT PROJECTS</h2>
        <ul>
            <li>Developed a predictive models for NBA games, achieving an impressive accuracy rate exceeding 80%.</li>
            <li>Developed and implemented a web-based payment service using the Django framework.</li>
            <li>Created a room exploration game using Python's object-oriented programming/Tkinter.</li>
            <li>Created a predictive model for physical activities using wearable data analysis.</li>
            <li>Analyzed IMDb data, uncovering insights through wrangling, EDA, and hypothesis testing.</li>
            <li>Devised a method to evaluate algorithm complexity for document similarity.</li>
        </ul>

        <h2>WORK EXPERIENCE</h2>
        <ul>
            <li>
                <strong>DATA SCIENTIST, THE HEINEKEN COMPANY</strong><br>
                Jan 2020 – Sept 2022<br>
                RESPONSIBILITIES:<br>
                Develop and design advanced data science solutions for forecasting, optimization, classification, and A/B testing. Utilize Python programming, pandas, and scikit-learn for in-depth analysis and modeling. Apply software engineering best practices for code versioning, structure, and unit testing. Collaborate with cross-functional teams, tailoring communication to various audiences. Use Azure stack tools (Data Factory, Machine Learning, Databricks) for better solutions. Keep abreast of the latest industry trends & best practices and apply them to enhance the quality and efficacy of analytics solutions.<br>
                ACHIEVEMENTS:<br>
                - Developed and deployed an advanced forecasting model using Machine Learning, leading to a 10% reduction in overstock and a 5% increase in customer satisfaction.
                - Optimized distribution routes via A/B tests and algorithms, resulting in a 15% cost reduction and 20% faster deliveries.
                - Utilized scikit-learn to craft a customer segmentation model, boosting conversion rates by 12%.
                - Collaborated with sales to achieve 95% accuracy in forecasting, mitigating stock-outs and enhancing inventory management.
                - Improved sales predictions' accuracy by 20% through cross-functional collaboration, driving more informed strategic decisions.
                - Developed a machine learning model using Python and scikit-learn to predict customer churn across various sales channels, resulting in a 7% decrease in churn rate.
                - Automated reporting via Azure Data Factory, enhancing real-time decision-making and saving 50 hours monthly in manual reporting.
            </li>
        </ul>
        <ul>
            <li>
                <strong>SHIFT MANAGER BREWING, THE HEINEKEN COMPANY</strong><br>
                Dec 2016 – Jan 2020<br>
                RESPONSIBILITIES:<br>
                Process monitoring, control, and improvement. Ensures compliance to all safety rules and regulations by workers. Training of staff as per requirement. Carryout Root Cause Failure Analysis for process, quality, and safety issues.<br>
                ACHIEVEMENTS:<br>
                - Achieved zero accidents or fatalities in a 2 million hl brewery while surpassing targets.
                - Managed the installation of a 2.6 million cubic meter anaerobic wastewater treatment plant, in line with sustainability goals.
                - Implemented cost-saving measures, saving over 300,000 GBP annually in filtration powder consumption and improving brewing extract loss by 2.2%.
            </li>
        </ul>

        <h2>SOFT SKILLS</h2>
        <ul>
            <li>Collaborative mindset and ability to work effectively in teams.</li>
            <li>Excellent verbal and written communication skills.</li>
            <li>Flexible and adaptable in dynamic environments.</li>
            <li>Strong time management skills with the ability to prioritize tasks and meet deadlines.</li>
            <li>Capable of taking ownership of responsibilities.</li>
            <li>Inquisitive and eager to learn new concepts and techniques.</li>
            <li>Effective in conveying intricate concepts clearly and concisely through skilled technical writing.</li>
        </ul>

    </div>

    <style>
        .hidden-text {
            background: repeating-linear-gradient(
                    45deg,
                    #000,
                    #000 10px,
                    transparent 10px,
                    transparent 20px
            );
            color: transparent;
            padding: 2px;
            font-size: 0;
            display: inline-block;
        }
    </style>

{% endblock %}